.BuildControl {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 24px;
  transition-property: background-color;
  transition-duration: 300ms;
  user-select: none;
}

.BuildControl:hover {
  background-color: #f5f5f5;
}

.BuildControl:last-child {
  margin-bottom: 0;
}

.BuildControlWrapper {
  display: flex;
  align-items: center;
}

.BuildControlGroup {
  display: flex;
  align-items: center;
  border-radius: 50px;
  overflow: hidden;
  border: 1px solid #dadada;
  padding: 6px 8px;
  margin-right: 20px;
  background-color: #ffffff;
}

.BuildControlGroup__Item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.BuildControlGroup button {
  border: 0;
  padding: 5px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 300ms;
}

.BuildControlGroup button:hover {
  background-color: #e4e4e4;
}

.BuildControlGroup button:disabled {
  background-color: #f1f1f1;
  color: gray;
  cursor: not-allowed;
}

.BuildControlGroup span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.Price {
  font-weight: bold;
  font-size: 16px;
  text-align: right;
}

.Label {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 12px;
}
