.BurgerBuilder {
  display: flex;
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  justify-content: center;

  &__Content {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .BurgerBuilder {
    &__Content {
      flex-direction: column;
      margin-bottom: 70px;
    }
  }
}

.CompleteOrderButton {
  position: fixed;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
}
