.Burger {
  display: flex;
  align-items: center;
}

.BurgerWrapper {
  position: relative;
}

.BurgerContainer {
  margin: auto;
  width: 700px;
  height: 600px;
  overflow-y: auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

@media screen and (max-width: 1000px) {
  .BurgerContainer {
    width: 450px;
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .Burger {
    justify-content: center;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 500px) {
  .BurgerContainer {
    height: 250px;
    width: 300px;
  }
}
