.BurgerBuilder {
  display: flex;
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
}

.CompleteOrderButton {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
