.ControlButtons {
  display: flex;
  align-items: center;
  border-radius: 50px;
  overflow: hidden;
  border: 1px solid #dadada;
  padding: 4px 6px;
  margin-right: 20px;
  background-color: #ffffff;

  &__Control {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    padding: 5px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 300ms;

    &:hover {
      background-color: #e4e4e4;
    }

    &:disabled {
      background-color: #f1f1f1;
      color: gray;
      cursor: not-allowed;
    }
  }

  &__Count {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
  }
}
