.Navbar {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  background-color: rgb(251, 251, 251);

  &__Links {
    display: flex;
    align-items: center;
  }

  &__Menu {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .Navbar {
    &__Links {
      display: none;
    }

    &__Menu {
      display: block;
    }
  }
}
