.OrderDetails {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;

  &__Description {
    margin-bottom: 28px;
    color: gray;
  }

  &__Footer {
    display: flex;
    justify-content: flex-end;
  }

  &__ConfirmOrderButtonContent {
    display: flex;
    align-items: center;
  }

  &__ConfirmOrderPrice {
    font-weight: bold;
    font-size: 24px;
    margin-left: 12px;
  }
}

@media screen and (max-width: 768px) {
  .OrderDetails {
    &__Description {
      font-size: 14px;
    }

    &__ConfirmOrderPrice {
      font-size: 18px;
      margin-left: 12px;
    }
  }
}
